{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template recerttask_videoprogress/history

    Example context (json):
    {
    }
}}

<h5>{{activityname}}</h5>
{{#hasprogress}}
<dl>
    <dt>{{#str}}progress, recerttask_videoprogress{{/str}}</dt><dd>{{percent}}%</dd>
    <dt>{{#str}}lastposition, recerttask_videoprogress{{/str}}</dt><dd>{{lastposition}} s</dd>
    <dt>{{#str}}duration, recerttask_videoprogress{{/str}}</dt><dd>{{duration}} s</dd>
    <dt>{{#str}}totalwatchtime, recerttask_videoprogress{{/str}}</dt><dd>{{totalwatchtime}} s</dd>
    <dt>{{#str}}completed, recerttask_videoprogress{{/str}}</dt>
    <dd>{{#completed}}{{#str}}yes, recerttask_videoprogress{{/str}}{{/completed}}{{^completed}}{{#str}}no, recerttask_videoprogress{{/str}}{{/completed}}</dd>
</dl>
{{/hasprogress}}
{{^hasprogress}}<p>{{#str}}noprogress, recerttask_videoprogress{{/str}}</p>{{/hasprogress}}
<dl>
    <dt>{{#str}}sessions, recerttask_videoprogress{{/str}}</dt><dd>{{sessioncount}}</dd>
    <dt>{{#str}}interactions, recerttask_videoprogress{{/str}}</dt><dd>{{interactioncount}}</dd>
</dl>
